.main {
    padding: 206px 0 0 50px;
    position: relative;
    height: 100vh;
    background: url('../../img/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 15;
    &__title {
        font-size: 48px;
        line-height: 60px;
    }
    &__subtitle {
        margin-left: 12px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        z-index: 8;
        @include circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        column-gap: 45px;
    }
}