.menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 345px;
    z-index: 10;
    background-color: $main-color;
    transition: 0.6s all;
    &__close {
        position: absolute;
        top: 25px;
        right: 35px;
        cursor: pointer;
        span {
            position: absolute;
            border: 2px solid #000;
            height: 29px;
        }
        .line1 {
            transform: rotate(45deg);
        }
        .line2 {
            transform: rotate(-45deg);
        }
    }
    &__item {
        padding-top: 140px;
        padding-left: 75px;
    }
    &__link {
        position: relative;
        margin-bottom: 15px;
        list-style-type: none;
        a {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -35px;
            border-radius: 100%;
            border: 2px solid #000;
            width: 15px;
            height: 15px;
            transition: 0.6s all;
        }
        &:hover {
            a {
                text-shadow: 0px 6px 16px;
            }
            &:before {
                background-color: #fff;
            }
        }
    }
    &__social {
        width: 90px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        visibility: 0;
        opacity: 0;
        transition: 0.7s all;
        &.active {
            visibility: 1;
            opacity: 0.75;
            left: 0;
        }
    }
    &.active {
        left: 0;
    }
}
